@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.woff2') format('woff2'),
		url('../fonts/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.eot');
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Bold.woff2') format('woff2'),
		url('../fonts/Lato-Bold.woff') format('woff'),
		url('../fonts/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Light.eot');
	src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Light.woff2') format('woff2'),
		url('../fonts/Lato-Light.woff') format('woff'),
		url('../fonts/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Varela Round';
	src: url('../fonts/VarelaRound.eot');
	src: url('../fonts/VarelaRound.eot?#iefix') format('embedded-opentype'),
		url('../fonts/VarelaRound.woff2') format('woff2'),
		url('../fonts/VarelaRound.woff') format('woff'),
		url('../fonts/VarelaRound.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.text-center {
	text-align: center;
}

.button-shadow {
	transition: all ease .5s;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
	&:active {
		box-shadow:
			0 0 0 #000,
			0 0 20px rgba(0,0,0,0.4) inset;
	}
}

a {
	transition: all ease .5s;
}

a:hover, a:active, a:focus {
	text-decoration: none;
	color: #26272d;
}

ul {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', 'Arial', sans-serif; 
	color: #26272d;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 50px 0;
	font-size: 16px;
	z-index: 10;
	transition: all ease .6s;
}

.active {
	padding: 30px 0;
	background-color: #fff;
	box-shadow: 0 10px 25px rgba(0,0,0,.1)
}

#header {
	background: url(../img/bg.png) top center no-repeat;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	padding: 50px 0 550px;
	font-size: 16px;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.6);
	height: 1200px;
	width: 100%;
}

.header__menu {
	margin: 0;
	padding: 0;
}

.header__logo {
	text-align: center !important;
}

.menu__item {
	list-style-type: none;
	float: left;
	margin-right: 20px;
	a {
		color: #26272d;
	}
}

.hamburger {
	position: absolute;
	top: 12px;
	left: 25px;
	display: block;
	width: 30px;
	height: 3px;
	background: #1b1c1e;
	transition: background-color 0s 0.13s linear;
	z-index: 3;
	&:before, &:after {
		content: '';
		position: absolute;
		display: block;
		width: 30px;
		height: 3px;
		background: #1b1c1e;
		transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	&:before {
		content: '';
		top: -9px;
	}
	&:after {
		content: '';
		top: 9px;
	}
}

.hamburger__click {
	position: absolute;
	height: 40px;
	width: 50px;
	top: -6px;
	left: 15px;
	z-index: 4;
}

.hamburger-active {
	background: #fff;
	&:before, &:after {
		background: #fff;
	}
	transition-delay: 0.22s;
	background-color: transparent;
	&:before {
		top: -10px;
		transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 10px, 0) rotate(45deg);
	}
	&:after {
		top: -10px;
		transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 10px, 0) rotate(-45deg);
	}
}

.hamburger-menu {
	position: fixed;
	height: 80vh;
	width: 80vw;
	left: -100%;
	top: 0;
	background: rgba(0,0,0,.8);
	z-index: 2;
	transition: .6s all ease;
}

.hamburger-menu_active {
	left: 0;
}

.hamburger-menu__list {
	padding: 0;
}

.hamburger-menu__list-item {
	list-style: none;
	text-align: center;
}

.hamburger-menu__link {
	color: #fff;
	font-size: 1.4rem;
	font-weight: bold;
	padding-top: 4vh;
	height: 16vh;
	width: 60%;
	margin-left: 20%;
	display: block;
	&:hover, &:active, &:focus {
	color: #fff;
	}
}

.header__help {
	color: #b9b9b9;
	&:hover {
		color: #26272d;
	}
}

.header__contacts {
	color: #26272d;
	margin-left: 35px;
}

.header__app {
	@extend .button-shadow;
	color: #fff;
	background: #267df4;
	padding: 8px 15px 10px;
	border-radius: 30px;
	margin-left: 35px;
	&:focus {
		color: #fff;
	}
	&:hover {
		color: #fff;
	}
	
}

h1 {
	margin: 130px auto 40px;
	font: 62px 'Varela Round','Arial', sans-serif;
}

.header__paragraph {
	color: #8c8f94;
	font-size: 20px;
	margin-bottom: 65px;
}

.header__video {
	background-color: #edf0f2;
	transition: all ease 1s;
	color: #26272d;
	border: 1px solid rgba(38,39,45,0.1);
	padding: 15px 40px 17px;
	border-radius: 30px;
	&:active {
		box-shadow: 0 0 20px rgba(0,0,0,0.4) inset;
	} 
}

.header__iphone {
	position: absolute;
	left: 50%;
	margin-left: -184.5px;
	top: 500px;
}

#features {
	padding-top: 60px;
	.container {
		padding-bottom: 60px;
	}
}

.features__wrap {
	padding: 10px 35px;
}

.features__title {
	font-weight: 300;
	font-size: 26px;
	margin: 45px auto 50px;
}

.features__paragraph {
	color: #8c8f94;
	font-size: 18px;
}

#iphone-features {
	padding: 240px 0 330px;
	position: relative;
}

.iphone-features__title {
	font: 42px 'Varela Round','Arial', sans-serif;
	margin-bottom: 75px;
}

.paragraph {
	color: #8c8f94;
	font-size: 20px;
	margin-bottom: 35px;
}

.iphone-features__hack {
	float: left;
	display: block;
	width: 165px;
	@extend .button-shadow;
	background: #267df4;
	padding: 10px 18px 12px 26px;
	border-radius: 30px;
	color: #fff;
	font-size: 16px;
	margin: 15px 25px 0 0;
	&:focus {
		color: #fff;
	}
	&:hover {
		color: #fff;
	}
}

.iphone-features__learn {
	float: left;
	display: block;
	width: 150px;
	margin-top: 15px;
	@extend .button-shadow;
	&:active {
		border-color: rgba(0,0,0,0.2);
	}
	color: #26272d;
	border: 1px solid rgba(38,39,45,0.1);
	padding: 10px 32px 12px;
	border-radius: 30px;
}

.iphone-features__img-wrap {
	position: absolute;
	bottom: 110px;
	right: 50%;
}

#map {
	position: relative;
	padding: 60px 0 60px;
	overflow: hidden;
}

.map__title {
	font: 42px 'Varela Round','Arial', sans-serif;
	margin-bottom: 75px;
}

.map__parntners {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin: 60px 0 25px;
}

.map__icon {
	margin: 10px 30px 10px 0;
}

.map__img-wrap {
	position: absolute;
	bottom: 110px;
	left: 50%;
}

#screens {
	padding: 140px 0;
	background-color: #f4f4f5;
	overflow: hidden;
	position: relative;
}

.screens__title {
	font: 42px 'Varela Round',Arial,sans-serif;
	color: #3a3d4b;
	line-height: 52px;
	margin: 0;
	&:after {
		content: '';
		margin: 40px auto;
		display: block;
		background-color: #267df4;
		width: 50px;
		height: 2px;
	}
}

.screens__block {
	min-width: 1800px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.screens__img {
	box-shadow: 10px 10px 16px 0px rgba(61, 61, 62, 0.15);
	width: 320px;
	&:nth-child(3) {
		box-shadow: none;
		width: 395px;
	}
}

.screens__paragraph {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.01em;
	font-weight: 700;
}

#buy {
	padding: 60px 0 60px;
	background: #f5f5f8;
}

.buy__logotype {
	font-size: 12px;
	text-transform: uppercase;
	color: #a8a9af;
}

.buy__text {
	font-weight: bold;
}

.buy__title {
	font: 42px 'Varela Round', 'Arial', sans-serif;
	color: #3a3d4b;
	margin-bottom: 60px;
}

.buy__wrap {
	border: 1px solid #cbcbce;
	padding: 4px 4px 4px 20px;
	width: 500px;
	height: 50px;
	margin: 0 auto;
	border-radius: 25px;
	margin-bottom: 65px;
}

.buy__input {
	outline: none;
	border: none;
	background-color: #f5f5f8;
	float: left;
  margin-top: -4px;
  height: 48px;
  width: 310px;
	&::placeholder {
		color: #3a3d4b;
		font-family: 'Lato', 'Arial', sans-serif;
	}
}

button[type="submit"] {
	background: #6fc754;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 20px;
	float: right;
	padding: 8px 30px;
	cursor: pointer;
}

.buy__paragraph {
	font-size: 12px;
	text-transform: uppercase;
	color: #c9c9ce;
	margin-bottom: 25px;
}

.button__wrap {
	width: 200px;
	height: 60px;
	padding: 10px 25px;
	border-radius: 30px;
	background: #131315;
	i {
		font-size: 35px;
		float: left; 
	}
}

.buy__button {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 60px;
	color: #fff;
	&:hover {
		color: #fff;
	}
	&:active {
		color: #fff;
	}
	&:focus {
		color: #fff;
	}
}

.button__paragraph {
	float: right;
	line-height: 17px;
	font-size: 12px; 
	.buy__app {
		font-size: 23px;
		margin-left: 10px;
	}
}

#customers {
	padding: 60px 0 60px;
}

.reviews__wrap-img {
	height: 150px;
	outline: none;
	position: relative;
}

.customers__shadow {
	transition: all ease .6s;
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	background-color: rgba(255,255,255,.7);
}

.reviews__block {
	outline: none;
}

.reviews__img {
	transition: all ease .6s;
	border-radius: 50%;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

.slick-current { 
	img {
		height: 150px;
		margin-top: -75px;
		margin-left: -75px;
	}
	.customers__shadow {
		background-color: transparent;
		height: 150px;
		width: 150px;
		margin-top: -75px;
		margin-left: -75px;
	}
}

.reviews__title {
	font: 32px 'Varela Round', 'Arial', sans-serif;
	font-weight: 300;
	margin: 70px 0 48px;
}

.reviews__paragraph {
	font-size: 20px;
	color: #8c8f94;
	line-height: 28px;
	margin-bottom: 34px;
}

.reviews__star {
	font-size: 20px;
	color: #f2bc3b;
	letter-spacing: 1px;
	margin-bottom: 68px;
}

.reviews__customer {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.slick-arrow {
	height: 50px;
}

.slick-arrow:before {
	color: #d4d4d5;
	background: none;
}

.slick-prev:before, .slick-next:before {
	font-family: FontAwesome;
	font-size: 40px;
}

.slick-next:before {
	content: "\f105";
}

.slick-prev:before {
	content: "\f104";
}

#plan {
	background: #f4f4f5;
	padding: 60px 0 60px;
}

.plan__title {
	font: 42px 'Varela Round', 'Arial', sans-serif;
	margin: 50px 0 65px;
}

.plan__subtitle {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 20px;
}

.plan__switch-wrap {
	border: 1px solid #d4d5d6;
	display: inline-block;
	border-radius: 50px;
	padding: 5px;
	position: relative;
	width: 235px;
	height: 60px;
	margin-bottom: 75px;
}

.plan__switch {
	font-size: 16px;
	color: rgba(38,41,44,.4);
	padding: 12px 22px;
	transition: all ease .6s;
	position: absolute;
	&:nth-child(2) {
		left: 0;
	}
	&:nth-child(3) {
		right: 0;
	}
	z-index: 1;
	cursor: pointer;
}

.plan__switch-active {
	color: #26272d;
}

.switch {
	background: #fff;
	box-shadow: 5px 5px 20px rgba(0,0,0,.15);
	transition: all ease .6s;
	color: #26272d;
	position: absolute;
	left: 5px;
	top: 5px;
	width: 103px;
	height: 48px;
	z-index: 1;
	border-radius: 50px;
}

.switch-right {
	left: 125px;
}

.plan__paragraph {
	font-size: 20px;
	color: #8c8f94;
	margin-bottom: 45px;
}

.plan__paragraph:nth-child(5) {
	font-size: 14px;
	.plan__link {
		text-decoration: underline;
		&:hover, &:active, &:focus {
			color: #267df4;
		}
	}
}

.box {
	transition: all ease .6s;
	float: left;
	background: #ebebed;
	padding: 40px 30px 50px;
	top: 40px;
	height: 510px;
	width: 340px;
	border-radius: 10px;
	position: absolute;
	&:nth-child(1) {
		left: 75px;
	}
	&:nth-child(2) {
		left: 405px;
	}
}

.box-active {
	background: #fff;
	padding: 60px 30px 70px;
	height: 550px;
	box-shadow: 30px 30px 50px rgba(92,95,101,.2);
	.box__link {
		background: #267df4;
		color: #fff;
		&:active, &:focus, &:hover {
		color: #fff;
		}
	}
	top: 20px;
	z-index: 1;
}

.box__title {
	font-size: 32px;
	font-weight: 300;
	margin-bottom: 25px;
}

.box__price {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 20px;
	padding: 4px 12px;
	display: inline-block;
	margin-bottom: 40px;
}

.box__subtitle {
	color: #8c8f94;
	font-size: 20px;
	margin-bottom: 30px;
}

.box__list {
	list-style: none;
	position: relative;
}

.box__list-item {
	text-align: center;
	margin-bottom: 15px;
	&:before {
		font-family: FontAwesome;
		content: "\f00c";
		position: absolute;
		margin-left: -1.3em;
		width: 1.3em;
		display: inline-block;
		color: #6fc754;
	}
}

.box__link {
	transition: all ease .5s;
	color: #267df4;
	padding: 12px 50px 14px;
	border: 1px solid #267df4;
	border-radius: 30px;
	margin-top: 50px;
	display: block;
	&:active, &:focus, &:hover {
		color: #267df4;
	}
}

.box:nth-child(1) .box__link {
	margin-top: 89px;
}

.buy {
	padding: 75px 0 130px;
	background: #f5f5f8;
}

.buy__title {
	font: 42px 'Varela Round', 'Arial', sans-serif;
	color: #3a3d4b;
	margin-bottom: 60px;
}

.buy__paragraph {
	font-size: 12px;
	text-transform: uppercase;
	color: #c9c9ce;
	margin-bottom: 25px;
}

#subscribe {
	.container {
		padding: 60px 15px;
		border-bottom: 1px solid rgba(0,0,0,.05);
	}
}

.subscribe__title {
	font: 42px 'Varela Round', 'Arial', sans-serif;
	color: #3a3d4b;
	margin-bottom: 50px;
}

.subscribe__wrap {
	border: 1px solid #cbcbce;
	padding: 4px 4px 4px 20px;
	width: 570px;
	height: 50px;
	margin: 0 auto;
	border-radius: 25px;
	margin-bottom: 30px;
}

.subscribe__input {
	outline: none;
	border: none;
	float: left;
  margin-top: -4px;
  height: 48px;
  width: 390px;
	&::placeholder {
		color: #3a3d4b;
		font-family: 'Lato', 'Arial', sans-serif;
	}
}

.subscribe__paragraph {
	font-size: 14px;
	color: #c9c9ce;
}

footer {
	padding: 50px 0 20px;
	.button__wrap {
		border-radius: 10px;
		padding: 6px 10px;
		width: 170px;
		height: 50px;
		margin-bottom: 40px;
		.buy__app {
			margin-left: 0;
		}
	}
}
.footer__logo {
	margin-bottom: 35px;
}

.footer__paragraph {
	margin-bottom: 35px;
}

.footer__button {
	color: #fff;
	&:hover, &:active, &:focus {
	color: #fff;
	}
}

.footer__wrap-social a {
	color: #bdbec0;
	margin-right: 25px;
	&:hover, &:active {
		color: #26272d;
	}
}

.footer__title {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 25px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.footer__list {
	list-style-type: none;
	padding: 0;
}

.footer__list-item {
	font-size: 16px;
	margin-bottom: 20px;
	transition: all ease .5s;
	&:hover {
		margin-left: 10px;
	}
	a {
		color: #8c8f94;
		&:hover, &:active {
			color: #26272d;
		}
	}
}