@media screen and (max-width: 1400px) {
	.step__image {
		margin: 0 auto !important;
		width: 100%;
	}
	.price__paragraph {
		font-size: 50px;
	}
	.block__paragraph {
		font-size: 25px;
	}
	.block__item {
		font-size: 18px;
	}
	.block__button {
		padding: 15px 20px 16px;
		width: 150px;
	}
}

@media screen and (max-width: 1200px) {
	.diagram__image {
		margin-top: 60px;
	}
	.table__container {
		width: 360px;
	}
	.diagram__wrap {
		margin-left: 0;
	}
}

@media screen and (max-width: 1050px) {
	.table__container {
		margin-left: 0;
	}
}

@media screen and (max-width: 992px) {
	.marketing__paragraph {
		padding: 0;
	}
	.illustration__image {
		width: 768px;
		margin-left: -364px;
	}
	.illustration__button-add {
		top: 100px;
		height: 48px;
		width: 48px;
		line-height: 48px;
		margin-left: -24px;
		font-size: 33px;
	}
	.diagram__image {
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		clip: rect(auto, auto, 545px, auto);
		position: absolute;
		left: 50px;
		top: -680px;
	}
	.table__container {
		margin-top: 371px;
		width: 100%;
	}
	.title {
		margin: 40px -120px 0 -40px;
	}
	#diagram {
		padding-top: 400px;
	}
	#steps {
		text-align: center;
	}
	.step__title {
		margin: 64px 0 40px !important;
	}
	.step__button {
		display: inline;
	}
	.step:nth-child(2n) {
		text-align: center;
	}
	.step__image {
		width: 80%;
		display: block;
	}
	.step:nth-child(11) {
		padding: 81px 0 92px;
	}
	.plans {
		padding: 90px 0 500px;
	}
	.block__paragraph {
		display: none;
	}
	.block__list {
		display: none;
	}
	#plans {
		position: relative;
	}
	.block {
		position: absolute;
		width: 43%;
		float: none;
		margin: 0;
		&:nth-child(1) {
			left: 5%;
			top: -375px;
		}
		&:nth-child(2) {
			right: 5%;
			top: -375px;
		}
		&:nth-child(3) {
			left: 5%;
			top: -70px;
		}
		&:nth-child(4) {
			right: 5%;
			top: -70px;
		}
		&:nth-child(5) {
			left: 50%;
			position: absolute;
			margin-left: -21.5%;
			top: 746px;
		}
	}
	.price__paragraph {
		font-size: 66px;
	}
	.vertical-line {
		display: none;
	}
	#contacts {
		padding: 685px 0 165px 0;
		text-align: center;
		.col-lg-5:first-child {
			text-align: center;
		}
	}
	.contacts__wrap {
		margin: 0 auto;
		display: inline-block;
	}
	.contacts__social:nth-child(5) {
		margin-left: 0;
	}
	.contacts__payment {
		&:nth-child(3) {
			margin-right: 0;
		}
	}
	.col-lg-5:nth-child(3) > .contacts__title {
		margin-top: 120px;
	}
	.contact-us {
		top: 827px;
		width: 90%;
		margin-left: -45%;
		padding: 70px 25px 60px;
	}
	#map {
		height: 930px;
	}
	input {
		width: 45%;
	}
	textarea {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.illustration__image {
		width: 576px;
		margin-left: -274px;
	}
	.illustration__button-add {
		top: 15px;
		height: 40px;
		width: 40px;
		line-height: 40px;
		margin-left: -20px;
		font-size: 28px;
	}
	.circle {
		margin-bottom: 78px;
		&:after {
			content: none;
		}
		&:nth-child(6), &:nth-child(7), &:nth-child(8) {
			margin-bottom: 100px;
		} 
	}
	.diagram__wrap {
		height: 185px;
		&:nth-child(7) {
			height: 215px;
		}
	}
	#diagram {
		padding-top: 300px;
	}
	.diagram__image {
		display: none;
	}
	.diagram__button, .title {
		display: none;
	}
	.wrap {
		display: block;
		margin: 135px auto 0;
	}
	.table__container {
		margin-top: 171px;
	}
	.step {
		padding: 80px 0 70px !important; 
	}
}

@media screen and (max-width: 576px) {
	header {
		height: 150px;
	}
	.fixed-nav {
		height: 110px;
	}
	.logo {
		position: absolute;
		margin-left: -72.5px;
		left: 60%;
	}
	.hamburger__click {
		left: -13px;
	}
	.hamburger {
		left: -10px;
	}
	.illustration__image {
		width: 360px;
		margin-left: -171px;
		top: -150px;
	}
	.illustration__button-add {
		top: 0;
		height: 30px;
		width: 30px;
		line-height: 30px;
		margin-left: -15px;
		font-size: 25px;
	}
	.plans {
		padding-bottom: 1360px;
	}
	.block {
		position: absolute;
		width: 60%;
		float: none;
		margin: 0;
		&:nth-child(1) {
			left: 50%;
			top: -1355px;
			margin-left: -30%;
		}
		&:nth-child(2) {
			left: 50%;
			top: -1041px;
			margin-left: -30%;
		}
		&:nth-child(3) {
			left: 50%;
			top: -727px;
			margin-left: -30%;
		}
		&:nth-child(4) {
			left: 50%;
			top: -414px;
			margin-left: -30%;
		}
		&:nth-child(5) {
			width: 70%;
			left: 50%;
			top: 436px;
			margin-left: -35%;
		}
	}
	#contacts {
		padding: 325px 0 50px;
	}
	.diagram__wrap {
		&:nth-child(6), &:nth-child(7) {
			height: 220px;
		}
	}
	.price__paragraph {
		font-size: 50px;
	}
	.circle {
		width: 50px;
		height: 50px;
		line-height: 45px;
		border-width: 5px;
		font-size: 20px;
		margin-bottom: 138px;
		&:nth-child(6), &:nth-child(7) {
			margin-bottom: 170px;
		}
	}
	input {
		width: 100%;
	}
	.contact-us {
		top: 850px;
	}
}

@media screen and (max-width: 445px) {
	.contacts__payment {
		&:nth-child(1) {
			float: left;
		}
		&:nth-child(2) {
			float: right;
			margin-right: 0;
		}
		&:nth-child(3) {
			display: block;
			margin: 80px auto 0;
			float: none;
		}
	}
	.step__rectangle {
		height: 34px;
		width: 34px;
		margin-right: 25px;
		&:last-child {
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 350px) {
	.wrap {
		margin-top: 180px;
	}
	.circle {
		margin-left: -10px;
	}
}